<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>AccumedPricing</display-name>
    <listener>
        <listener-class>com.accumed.pricing.cachedRepo.BackgroundTaskManager</listener-class>
    </listener>
    <listener>
        <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>jspActionsServlet</servlet-name>
        <servlet-class>com.accumed.pricing.jspActionsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PricingEngine</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <!--    <context-param>
    <param-name>com.sun.faces.forceLoadConfiguration</param-name>
    <param-value>false</param-value>
</context-param>-->
    <servlet-mapping>
        <servlet-name>jspActionsServlet</servlet-name>
        <url-pattern>/jspActionsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PricingEngine</servlet-name>
        <url-pattern>/PricingEngine</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <description>SQL Server DB Connection</description>
        <res-ref-name>jdbc/pricingDB</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
</web-app>
